footer.container(style="font-size:12px;color:#666")
  hr
  p 
    a(href="http://www.jspapa.com") JSpapa.com
  p.pull-right
    span 前端求职招聘QQ群 186740272
    br
    span 前端技术交流QQ群 293527978
  ul.list-unstyled
    li 我们致力于打造最宜居的JavaScript开发者社区
    li 鼓励技术讨论、分享，推动技术进步
    li 
      a(href="https://github.com/biggerV/jspapa", target="_blank") GitHub

