footer.container(style="font-size:12px;color:#666")
  hr
  p 
    a(href="#") JSpapa.com
  p.pull-right
    span 前端求职招聘QQ群 186740272
  ul.list-unstyled
    li 我们致力于打造最宜居的JavaScript开发者社区
    li 鼓励技术讨论、分享，推动技术进步
