extends ./layout

block main
  
  ol.breadcrumb
    li= cate.name
    if !type
      li.active 默认
      li
        a(href="/cate/"+cate.id+"?type=good") 精华
    else
      li
        a(href="/cate/"+cate.id) 默认
      li.active 精华

  if !user
    include mod-login-tip

  include mod-topics-list
  +topicList(topics, true)

  include mod-pagination
  +pagination(page)



block sidebar
  include mod-user-card
  +usercard('个人信息', user)

  .panel.panel-default
    .panel-heading
      .panel-title 小帖士
    .panel-body 本站为专业前端社区，为热爱前端的开发者提供一个理想的栖息地。随着Node.js的生态发展，前端全栈成为可能。前端技术发展日新月异，参与分享和讨论是提升自我的绝佳路径。欢迎加入我们的大家庭！

  include mod-topic-create-btn

  .panel.panel-default
    .panel-heading
      .panel-title 统计信息
    ul.list-group
      li.list-group-item 社区会员: #{counter.users} 人
      li.list-group-item 帖子数: #{counter.topics} 个
      li.list-group-item 回帖数: #{counter.comments} 条