doctype html
html
  head
    meta(content="width=device-width,user-scalable=no,initial-scale=1", name="viewport")
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/pages.css" rel="stylesheet")
    script(src="/js/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.js")
    block head
      title #{siteName}·JS开发者社区·首页 
  body
    include ./header

    .container
      .row
        .col-md-9
          block main
        .col-md-3
          block sidebar

    include ./footer

    block foot