.panel.panel-default
  .panel-body.text-center
    a.btn.btn-default(href='javascript:JSpapaEle=document.createElement("script");JSpapaEle.setAttribute("src","https://jspapa.com/js/web-collect.min.js?v="+Date.now());document.body.appendChild(JSpapaEle);', style="cursor:move") 收藏到JSpapa
    .small 按住上面按钮并拖到‘书签栏’