.panel.panel-default
  .panel-heading
    .panel-title Markdown语法参考
  .panel-body
    div 转行：行尾加2个以上空格
    div 段落：空一行
    div 斜体：*斜体*
    div 加粗：**加粗**
    div 链接：[link text](http://url.com/) 或者 &lt;http://url.com&gt;
    div 图片：![alt 说明文字](http://path/to/img.jpg)
    div 段落：# h1；## h2；### h3 ...
    div 引用：&gt; 内容
    div 代码：`code`
    div 代码块：行首加4个空格